.property-name {
    padding: 3px;
    color: brown;
}

.d-btn {
    padding: 2px;
    font-size: 9px;
    line-height: 1px;
    color: red;
}

.value-content {
    padding: 3px;
    font-style: italic;
}

.value-string {
    color: darkgoldenrod;
}

.value-number {
    color: blueviolet;
}

.value-null {
    color: darkred;
}

.value-array {
    color: darkgreen;
}

.value-boolean {
    color: chocolate;
}
