@inherits LayoutComponentBase

<PageTitle>Blazor.JsonEditor.Demo</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <div>
                <a href="https://github.com/joghyrt/Blazor.JsonEditor" target="_blank">About Blazor.JsonEditor</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>