/* _content/Blazor.JsonEditor/Component/InternalJsonEditor.razor.rz.scp.css */
.property-name[b-au2vjz4f1b] {
    padding: 3px;
    color: brown;
}

.d-btn[b-au2vjz4f1b] {
    padding: 2px;
    font-size: 9px;
    line-height: 1px;
    color: red;
}

.value-content[b-au2vjz4f1b] {
    padding: 3px;
    font-style: italic;
}

.value-string[b-au2vjz4f1b] {
    color: darkgoldenrod;
}

.value-number[b-au2vjz4f1b] {
    color: blueviolet;
}

.value-null[b-au2vjz4f1b] {
    color: darkred;
}

.value-array[b-au2vjz4f1b] {
    color: darkgreen;
}

.value-boolean[b-au2vjz4f1b] {
    color: chocolate;
}
/* _content/Blazor.JsonEditor/Component/JsonEditor.razor.rz.scp.css */
.json-content[b-2n90k809oz] {
    padding: 5px;
    border: 1px solid #ccc;
}

.j-btn[b-2n90k809oz] {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    line-height: 1px;
    font-family: 'Wingdings 2';
    font-size: 10px;
}

.j-btn-l[b-2n90k809oz] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    line-height: 1px;
    font-family: 'Wingdings 2';
    font-size: 14px;
}

.j-btn-primary[b-2n90k809oz] {
    color: darkblue;
}

.j-btn-danger[b-2n90k809oz] {
    color: red;
}

.j-txt[b-2n90k809oz] {
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    line-height: 1.2em;
}

.j-btn-right[b-2n90k809oz] {
    position: relative;
    margin-right: 0px;
    margin-left: auto;
    display: block;
    margin-top: -23px;
}

.valid-c[b-2n90k809oz] {
    color: red;
}

.property-name[b-2n90k809oz] {
    padding: 3px;
    color: brown;
}

.d-btn[b-2n90k809oz] {
    padding: 2px;
    font-size: 9px;
    line-height: 1px;
    color: red;
}

.value-content[b-2n90k809oz] {
    padding: 3px;
    font-style: italic;
}

.value-string[b-2n90k809oz] {
    color: darkgoldenrod;
}

.value-number[b-2n90k809oz] {
    color: blueviolet;
}

.value-null[b-2n90k809oz] {
    color: darkred;
}

.value-array[b-2n90k809oz] {
    color: darkgreen;
}

.value-boolean[b-2n90k809oz] {
    color: chocolate;
}
/* _content/Blazor.JsonEditor/Component/JsonItemEditor.razor.rz.scp.css */
.new-item-container[b-i1xzyz17vx] {
    background: #fff;
    border: 1px solid #808080;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #1d1d1d;
    width: 400px;
}

.button1[b-i1xzyz17vx] {
    padding: 10px;
    border-radius: 5px;
}
