.property-name[b-au2vjz4f1b] {
    padding: 3px;
    color: brown;
}

.d-btn[b-au2vjz4f1b] {
    padding: 2px;
    font-size: 9px;
    line-height: 1px;
    color: red;
}

.value-content[b-au2vjz4f1b] {
    padding: 3px;
    font-style: italic;
}

.value-string[b-au2vjz4f1b] {
    color: darkgoldenrod;
}

.value-number[b-au2vjz4f1b] {
    color: blueviolet;
}

.value-null[b-au2vjz4f1b] {
    color: darkred;
}

.value-array[b-au2vjz4f1b] {
    color: darkgreen;
}

.value-boolean[b-au2vjz4f1b] {
    color: chocolate;
}
