.new-item-container[b-i1xzyz17vx] {
    background: #fff;
    border: 1px solid #808080;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #1d1d1d;
    width: 400px;
}

.button1[b-i1xzyz17vx] {
    padding: 10px;
    border-radius: 5px;
}
